<header>
    <% if (currUserName==='') { %>
        <h1 class="nav-title">GoodnewsEO </h1>
    
    <% } else { %>
    <h1 class="nav-title">GoodnewsEO <br> <span style="font-size: 0.6em; font-style: italic;">Welcome <%= currUserName %></span></h1>
    <% } %>
    
    <nav class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
            <br>
            
            <div style="display: flex;justify-content: right ;font-size: 0.5em;">
                <form action="/login" method="post">
                   <li><button type="submit">login</button></li> 
                </form>
                <form action="/register" method="post">
                    <li><button type="submit">register</button></li> 
                 </form>
                 <form action="/logout" method="post">
                    <% if (currUserName!=='') { %>
                    <li><button type="submit">logout</button></li> 
                    
                    <% } %>
                 </form>
                 
            </div>
        </ul>
    </nav>
    
</header>